.card {
    display: flex;
    align-items: center;
    width: calc(100% - 48px);
    margin-right: 24px;
    margin-top: 19px;
    margin-left: 24px;
    /* justify-content: space-between; */
    padding: 10px;
    background: #FDFDFD 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #9D9D9D29;
    border-radius: 10px;
    opacity: 1;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px;
}